---
interface Props {
  title: string;
  year: number | string;
  inProgress?: boolean;
}

const { title, year, inProgress } = Astro.props;
---

<div class="max-w-6xl mx-auto mb-8 md:mb-12">
  <h1 class="text-3xl md:text-5xl font-bold mb-2 md:mb-4 font-display">
    {title}
  </h1>
  <p class="text-lg md:text-xl text-gray-400">
    {year}{inProgress ? ' (in progress)' : ''}
  </p>
</div>

